﻿@model UserMaintenance.Models.ErrorPageViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 style="font-color:red">Error</h1>
        <h2>@Html.DisplayFor(model => model.ErrorMessage)</h2>
    </hgroup>
</body>
</html>
