﻿@model UserMaintenance.Models.SuccessPageViewModel

@{
    ViewData["Title"] = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessPageView</title>
</head>
<body>
    <div class="success-message">
        <h3>Thank you for submitting your information.</h3>
        <li>
            @Html.ActionLink("Go Back", "Index", "Home", new { @class = "elements" }, null)
        </li>
    </div>
</body>
</html>
