﻿@{
    ViewBag.Title = "Index";
}

<head>
    <meta name="google-signin-client_id" content="2961863561-kg9cvae598uoq839d1euc2iahibm1ggk.apps.googleusercontent.com">
</head>
<body>
    <div style="margin-top: 20px; text-align:center">
        <div id="my-signin2"></div>
    </div>
<script>
    function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        ValidateUser(googleUser.getBasicProfile().getEmail());
    }
    function onFailure(error) {
        console.log(error);
    }
    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    @section Scripts{
        <script src="https://apis.google.com/js/api.js?onload=onLibraryLoaded" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script>

            function ValidateUser(emailaddress) {
                //window.location.href = "/home/Index";
                $.ajax({
                    type: "Get",
                    url: 'https://inco-dev-app-wus-001.azurewebsites.net/api/GetApplicationPerUsers?ApplicationId=30',
                    success: function (data) {
                        if (data) {
                            var test = data.filter(
                                function (data) { return data.email == emailaddress }
                            );
                            if (test.length > 0) {
                                if (test[0].isAdmin == 0) {
                                    window.location = window.location.protocol + "/LoginPage/Index";
                                }
                                else {
                                    alert('Google sign in successful!. ');
                                    window.location = window.location.protocol + "/Home/Index";
                                }
                            }
                            else {
                                window.location = window.location.protocol + "/LoginPage/Index";
                            }
                            //Refresh the calender

                        }
                    },
                    error: function () {
                        //alert('Failed');
                        window.location = window.location.protocol + "/LoginPage/Index"
                    }
                })
            }
        </script>
    }
</body>