﻿@model UserMaintenance.Models.UserRequestFormViewModel

@{
    ViewBag.Title = "User Request Form";
}
<body onload="formOnLoad()">

    <script type="text/javascript" src="https://raw.github.com/ryhan/fixie/master/fixie_min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        //Main
        <div class="form-horizontal">
            <h4 style="font-weight:bolder">Requester Info</h4>
            <hr />

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.RequesterFirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RequesterFirstName, new { placeholder = "First", size = "120", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RequesterFirstName, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RequesterLastName, new { placeholder = "Last", size = "120", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RequesterLastName, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RequesterPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RequesterPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RequesterPhone, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RequesterEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RequesterEmail, new { size = "120", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RequesterEmail, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ManagerFirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ManagerFirstName, new { placeholder = "First", size = "120", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerFirstName, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ManagerLastName, new { placeholder = "Last", size = "120", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerLastName, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ManagerEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ManagerEmail, new { size = "120", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerEmail, "", new { @style = "color: red" })
                </div>
            </div>
        </div>

        //Network Account
        <div class="form-horizontal networkAccounts">
            <hr />
            <h4 style="font-weight:bolder">Network Account</h4>
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    @foreach (var category in Model.NetworkAccountRequestCategories)
                    {
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.NetworkAccountRequestCategory, category)
                            @Html.Label(category)
                        </div>
                    }
                </div>
            </div>
        </div>

        //Type of Account
        <div class="form-horizontal accountTypes" id="accountTypes">
            <hr />
            <h4 style="font-weight:bolder">Type of Account</h4>
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    @foreach (var accountType in Model.AccountTypes)
                    {
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.AccountType, accountType)
                            @Html.Label(accountType)
                        </div>
                    }
                </div>
            </div>
        </div>

        //New Network Account User Information
        <div class="form-horizontal newUserInfo" id="newUserInfo">
            <hr />
            <h4 style="font-weight:bolder">New Network Account User Information</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccountUserInfoViewModel.EmployeeFirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NewAccountUserInfoViewModel.EmployeeFirstName, new { placeholder = "First", size = "110", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewAccountUserInfoViewModel.EmployeeFirstName, "", new { @style = "color: red" })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NewAccountUserInfoViewModel.EmployeeMiddleName, new { placeholder = "Middle", size = "110", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewAccountUserInfoViewModel.EmployeeMiddleName, "", new { @style = "color: red" })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NewAccountUserInfoViewModel.EmployeeLastName, new { placeholder = "Last", size = "110", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewAccountUserInfoViewModel.EmployeeLastName, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccountUserInfoViewModel.JobTitle, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.NewAccountUserInfoViewModel.JobTitle, new { placeholder = "Job Title", size = "120", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewAccountUserInfoViewModel.JobTitle, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group control-label col-md-2">
                @Html.Label("VPN/External Network access")
            </div>

            <div class="form-group">
                <div class="col-sm-1">
                    @Html.RadioButtonFor(model => model.NewAccountUserInfoViewModel.HasExternalAccess, true)
                    @Html.Label("Yes")
                </div>
                <div class="col-sm-1">
                    @Html.RadioButtonFor(model => model.NewAccountUserInfoViewModel.HasExternalAccess, false)
                    @Html.Label("No")
                </div>
            </div>

            <div class="form-group control-label col-md-2">
                @Html.Label("New Laptop/Desktop required?")
            </div>

            <div class="form-group">
                <div class="col-sm-1">
                    @Html.RadioButtonFor(model => model.NewAccountUserInfoViewModel.NewLaptopIsRequired, true)
                    @Html.Label("Yes")
                </div>
                <div class="col-sm-1">
                    @Html.RadioButtonFor(model => model.NewAccountUserInfoViewModel.NewLaptopIsRequired, false)
                    @Html.Label("No")
                </div>
            </div>

            <div class="form-group control-label col-md-2">
                @Html.Label("Account Type")
            </div>
            <div class="form-horizontal employmentTypes" id="employmentTypes">
                <div class="form-group">
                    @foreach (var employmentType in Model.NewAccountUserInfoViewModel.EmploymentTypes)
                    {
                        <div class="col-sm-2">
                            @Html.RadioButtonFor(model => model.NewAccountUserInfoViewModel.EmploymentType, employmentType)
                            @Html.Label(employmentType)
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccountUserInfoViewModel.InternetAccessGroup, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.NewAccountUserInfoViewModel.InternetAccessGroup, Model.NewAccountUserInfoViewModel.InternetAccessGroups, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccountUserInfoViewModel.UserLocation, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.NewAccountUserInfoViewModel.UserLocation, Model.NewAccountUserInfoViewModel.UserLocations, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccountUserInfoViewModel.UserToCopyFirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NewAccountUserInfoViewModel.UserToCopyFirstName, new { placeholder = "First", size = "110", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewAccountUserInfoViewModel.UserToCopyFirstName, "", new { @style = "color: red" })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NewAccountUserInfoViewModel.UserToCopyLastName, new { placeholder = "Last", size = "110", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewAccountUserInfoViewModel.UserToCopyLastName, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccountUserInfoViewModel.AccountStartDate, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NewAccountUserInfoViewModel.AccountStartDate, new { @type = "date", @class = "form-control datepicker" })
                </div>
            </div>
            <div class="form-horizontal accessToApplication" id="accessToApplication">
                <div class="form-group">
                    @*@foreach (var accessToApplication in Model.NewAccountUserInfoViewModel.AccessToApplications)
                        {
                        <div class="col-sm-2">
                            @Html.CheckBox(accessToApplication.Text)
                            @Html.Label(accessToApplication.Text)
                            @Html.HiddenFor(m => m.NewAccountUserInfoViewModel.AccessToApplication)
                        </div>
                        }*@
                    @*@for (var i = 0; i < Model.Students.Count; i++)
                        {

                            @Html.CheckBoxFor(m => m.Students[i].Selected)
                            @Html.HiddenFor(m => m.Students[i].Text)
                            @Html.HiddenFor(m => m.Students[i].Value)
                            <span>@Model.Students[i].Text</span>
                        }*@
                </div>
            </div>
        </div>


        //New Network Account for Service Account
        <div class="form-horizontal newServiceAccount" id="newServiceAccount">
            <hr />
            <h4 style="font-weight:bolder">New Network Service Account</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.NewServiceAccountViewModel.Systems, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.TextAreaFor(model => model.NewServiceAccountViewModel.Systems, new { @class = "form-control col-md-8" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewServiceAccountViewModel.Purpose, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.TextAreaFor(model => model.NewServiceAccountViewModel.Purpose, new { @class = "form-control col-md-8" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewServiceAccountViewModel.LocationService, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.DropDownListFor(model => model.NewServiceAccountViewModel.LocationService, Model.NewServiceAccountViewModel.LocationServices, new { @class = "form-control col-md-6" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewServiceAccountViewModel.DateRequired, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.TextBoxFor(model => model.NewServiceAccountViewModel.DateRequired, new { @type = "date", @class = "form-control datepicker col-md-6" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                </div>
            </div>
        </div>

        //Change Network Account
        <div class="form-horizontal changeNetworkAccount" id="changeNetworkAccount">
            <hr />
            <h4 style="font-weight:bolder">Network Change</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.NetworkChangeViewModel.AccountName, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.TextAreaFor(model => model.NetworkChangeViewModel.AccountName, new { @class = "form-control col-md-8" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NetworkChangeViewModel.UserLocation, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.DropDownListFor(model => model.NetworkChangeViewModel.UserLocation, Model.NetworkChangeViewModel.UserLocations, new { @class = "form-control col-md-6" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NetworkChangeViewModel.RequestDetails, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.TextAreaFor(model => model.NetworkChangeViewModel.RequestDetails, new { @class = "form-control col-md-6" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                </div>
            </div>
        </div>

        //Remove Existing Network Account
        <div class="form-horizontal accountRemoval" id="accountRemoval">
            <hr />
            <h4 style="font-weight:bolder">Network Remove</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.NetworkRemovalViewModel.AccountNameForRemoval, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.TextAreaFor(model => model.NetworkRemovalViewModel.AccountNameForRemoval, new { @class = "form-control col-md-8" })
                </div>
            </div>
            <div class="form-group control-label col-md-3">
                @Html.Label("Do you need to retain any user data?")
            </div>
            <div class="form-group retainDataChoices" id="retainDataChoices">
                <div class="col-sm-1">
                    @Html.RadioButtonFor(model => model.NetworkRemovalViewModel.NeedToRetainData, true)
                    @Html.Label("Yes")
                </div>
                <div class="col-sm-1">
                    @Html.RadioButtonFor(model => model.NetworkRemovalViewModel.NeedToRetainData, false)
                    @Html.Label("No")
                </div>
            </div>
            <div class="form-group networkRemovalDetails">
                @Html.LabelFor(model => model.NetworkRemovalViewModel.NetworkRemovalDetails, new { @class = "control-label col-md-3" })
                <div class="">
                    @Html.TextAreaFor(model => model.NetworkRemovalViewModel.NetworkRemovalDetails, new { @class = "form-control col-md-6" })
                </div>
            </div>
        </div>

        //Wedoo
        <div class="form-horizontal wedooOptions">
            <hr />
            <h4 style="font-weight:bolder">Wedoo</h4>
            <hr />
            <div class="form-group" >
                <div class="form-group control-label">
                    @Html.Label("What do you want to do?", new { @class = "col-md-2" })
                </div>
                <div class="col-md-10 wedooOptions" id="wedooOptions">
                    @foreach (var wedooOption in Model.WedooViewModel.WedooOptions)
                    {
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.WedooViewModel.Wedoo, wedooOption.Value)
                            @Html.Label(wedooOption.Text)
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-horizontal wedooElements">
            @*Wedoo Add email*@
            <div class="form-group wedooAddEmail" id="wedooAddEmail">
                @Html.LabelFor(model => model.WedooViewModel.EmailAccountType, new { @class = "control-label col-md-2" })
                <div class="col-md-10 emailAccountTypes">
                    @foreach (var emailAccountType in Model.WedooViewModel.EmailAccountTypes)
                    {
                        <div class="col-md-3">
                            @Html.RadioButtonFor(model => model.WedooViewModel.EmailAccountType, emailAccountType.Value)
                            @Html.Label(emailAccountType.Text)
                        </div>
                    }
                </div>
            </div>

            @*New Wedoo User*@
            <div class="form-horizontal newWedooEmployee">
                <hr />
                <h4 style="font-weight:bolder">Wedoo User Info</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserFirstName, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserFirstName, new { placeholder = "First", size = "110", @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserMiddleName, new { placeholder = "Middle", size = "110", @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserLastName, new { placeholder = "Last", size = "110", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserDepartment, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserDepartment, new { placeholder = "", size = "120", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserJobTitle, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserJobTitle, new { placeholder = "", size = "120", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserPhone, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserPhone, new { placeholder = "", size = "120", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserReportingSupervisorName, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserReportingSupervisorName, new { placeholder = "", size = "120", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserReportingSupervisorEmailAddress, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserReportingSupervisorEmailAddress, new { placeholder = "", size = "120", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserLocation, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserLocation, Model.NewAccountUserInfoViewModel.UserLocations, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group control-label col-md-2">
                    @Html.Label("Employee Type")
                </div>
                <div class="form-horizontal employmentTypes" id="employmentTypes">
                    <div class="form-group">
                        @foreach (var employmentType in Model.NewAccountUserInfoViewModel.EmploymentTypes)
                        {
                            <div class="col-sm-2">
                                @Html.RadioButtonFor(model => model.WedooViewModel.WedooUserInfoViewModel.WedooUserEmploymentType, employmentType)
                                @Html.Label(employmentType)
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group control-label col-md-2">
                    @Html.Label("What account is needed for this user?")
                </div>
                <div class="form-horizontal accountUsageOptions">
                    <div class="form-group">
                        @foreach (var accountUsage in Model.WedooViewModel.WedooUserInfoViewModel.AccountUsageOptions)
                        {
                            <div class="col-sm-3">
                                @Html.RadioButtonFor(model => model.WedooViewModel.WedooUserInfoViewModel.AccountUsage, accountUsage.Value)
                                @Html.Label(accountUsage.Text)
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.InstructionDetails, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.WedooViewModel.WedooUserInfoViewModel.InstructionDetails, new { size = "120", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.WedooUserInfoViewModel.ContractorStartDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.WedooUserInfoViewModel.ContractorStartDate, new { @type = "date", @class = "form-control datepicker" })
                    </div>
                </div>
            </div>

            @*Shared Mailbox*@
            <div class="form-horizontal sharedMailboxSection">
                <hr />
                <h4 style="font-weight:bolder">Wedoo Application and Shared Mailbox</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxSystems, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxSystems, new { size = "110", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxPurpose, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxPurpose, new { size = "110", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group control-label col-md-3">
                    @Html.Label("Will the application directly login to this account?")
                </div>

                <div class="form-group">
                    <div class="col-sm-1">
                        @Html.RadioButtonFor(model => model.WedooViewModel.MailboxInfoViewModel.ApplicationWillDirectlyLoginToThisAccount, true)
                        @Html.Label("Yes")
                    </div>
                    <div class="col-sm-1">
                        @Html.RadioButtonFor(model => model.WedooViewModel.MailboxInfoViewModel.ApplicationWillDirectlyLoginToThisAccount, false)
                        @Html.Label("No")
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxProposedAccountName, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxProposedAccountName, new { size = "110", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxEstimatedStorage, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxEstimatedStorage, new { size = "110", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxOwner, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxOwner, new { size = "110", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxExpirationDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxExpirationDate, new { @type = "date", @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxLocation, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.WedooViewModel.MailboxInfoViewModel.SharedMailboxLocation, Model.NewAccountUserInfoViewModel.UserLocations, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            @*End of Mailbox*@

            @*Wedoo Change email*@
            <div class="form-group wedooChangeEmail" id="wedooChangeEmail">
                @Html.LabelFor(model => model.WedooViewModel.AccountToChange, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.WedooViewModel.AccountToChange, new { @class = "form-control col-md-5", placeholder = "enter email address" })
                </div>

                @Html.LabelFor(model => model.WedooViewModel.ChangeDetails, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextAreaFor(model => model.WedooViewModel.ChangeDetails, new { @class = "form-control col-md-5" })
                </div>
            </div>

            @*Add/Change/Remove email group*@
            <div class="form-horizontal groupRequests">
                <div class="form-group">
                    @foreach (var requestOption in Model.WedooViewModel.WedooGroupRequestOptions)
                    {
                        <div class="col-md-3">
                            @Html.RadioButtonFor(model => model.WedooViewModel.WedooGroupRequest, requestOption.Value)
                            @Html.Label(requestOption.Text)
                        </div>
                    }
                </div>
            </div>

            <div class="form-horizontal addGroup">
                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.GroupNameToAdd, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WedooViewModel.GroupNameToAdd, new { size = "150", @class = "form-control", placeholder = "Please Note all Groups must have standard naming convention i.e. TRANSITIONS - US - TOI - PRICING TOI GROUP" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.OwnersOfTheGroup, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.WedooViewModel.OwnersOfTheGroup, new { size = "150", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.MembersOfTheGroup, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.WedooViewModel.MembersOfTheGroup, new { size = "150", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-horizontal changeOrRemoveGroup">
                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.GroupNameToRemove, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.WedooViewModel.GroupNameToRemove, new { size = "150", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WedooViewModel.GroupRemovalDetails, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.WedooViewModel.GroupRemovalDetails, new { size = "150", @class = "form-control" })
                    </div>
                </div>
            </div>

            @*Change Remove Calendar Meeting Room*@
            <div class="form-group wedooRemoveCalendarMeeting" id="wedooRemoveCalendarMeeting">
                @Html.LabelFor(model => model.WedooViewModel.MeetingRoomName, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.WedooViewModel.MeetingRoomName, new { @class = "form-control col-md-5" })
                </div>

                @Html.LabelFor(model => model.WedooViewModel.MeetingRoomRemovalDetails, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextAreaFor(model => model.WedooViewModel.MeetingRoomRemovalDetails, new { @class = "form-control col-md-5" })
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <div class="col-sm-1" >
                    <input type="submit" value="Submit" class="btn btn-default submit-button" style="background-color:orangered; color:ghostwhite;" />
                    @* <input type="reset" value="Clear" class="btn btn-sm btn-primary" id="btnClear" />*@
                </div>
            </div>
        </div>

        
        <script>
            $(document).ready(function () {
                $(".datepicker").datepicker({
                    dateFormat: "dd-mm-yy",
                    changemonth: true,
                    changeyear: true
                });
            });

            var accountTypeDiv = $('.accountTypes');
            var newUserInfoDiv = $('.newUserInfo');
            var newServiceAccountDiv = $('.newServiceAccount');
            var changeNetworkAccountDiv = $('.changeNetworkAccount');
            var networkRemovalDetailsDiv = $('.networkRemovalDetails');
            var accountRemovalDiv = $('.accountRemoval');
            var wedooOptionsDiv = $('.wedooOptions');
            var wedooAddEmailDiv = $('.wedooAddEmail');
            var wedooChangeEmailDiv = $('.wedooChangeEmail');
            var wedooRemoveCalendarMeetingDiv = $('.wedooRemoveCalendarMeeting');
            var newWedooEmployeeDiv = $('.newWedooEmployee');
            var sharedMailboxSectionDiv = $('.sharedMailboxSection');
            var groupRequestsDiv = $('.groupRequests');
            var addGroupDiv = $('.addGroup');
            var changeOrRemoveGroupDiv = $('.changeOrRemoveGroup');
            var wedooChangeOrRemoveEmailGroupDiv = $('.wedooChangeOrRemoveEmailGroup');
            var newWedooEmployeeDiv = $('.newWedooEmployee');

            $('.groupRequests input[type="radio"]').change(function () {

                if ($(this).val() == 'Add a Wedoo Group') {
                    addGroupDiv.show();
                    changeOrRemoveGroupDiv.hide();
                }
                else {
                    addGroupDiv.hide();
                    changeOrRemoveGroupDiv.show();
                }
            });

            $('.emailAccountTypes input[type="radio"]').change(function () {

                if ($(this).val() == 'Employee/Contractor') {
                    newWedooEmployeeDiv.show();
                    sharedMailboxSectionDiv.hide();
                }
                else {
                    newWedooEmployeeDiv.hide();
                    sharedMailboxSectionDiv.show();
                }
            });

            $('.wedooOptions input[type="radio"]').change(function () {
                console.log($(this).val());
                if ($(this).val() == 'Add email account (User, Application or Shared)') {
                    wedooAddEmailDiv.show();
                }
                else {
                    wedooAddEmailDiv.hide();
                    newWedooEmployeeDiv.hide();
                    sharedMailboxSectionDiv.hide();
                }

                if ($(this).val() == 'Change email Account access or settings') {
                    wedooChangeEmailDiv.show();
                }
                else {
                    wedooChangeEmailDiv.hide();
                }

                if ($(this).val() == 'Wedoo - Change or Remove a Calendar Meeting Room') {
                    wedooRemoveCalendarMeetingDiv.show();
                }
                else {
                    wedooRemoveCalendarMeetingDiv.hide();
                }

                if ($(this).val() == 'Add/Change/Remove email group') {
                    groupRequestsDiv.show();
                    if ($('.groupRequests input[type="radio"]').val() == 'Add a Wedoo Group') {
                        addGroupDiv.show();
                        changeOrRemoveGroupDiv.hide();
                    } else {
                        addGroupDiv.hide();
                        changeOrRemoveGroupDiv.show();
                    }
                }
                else {
                    groupRequestsDiv.hide();
                    addGroupDiv.hide();
                    changeOrRemoveGroupDiv.hide();
                }
            });

            $('.networkAccounts input[type="radio"]').change(function () {
                console.log($(this).val());
                if ($(this).val() == 'Add New Network Account') {
                    accountTypeDiv.show();
                    wedooOptionsDiv.show();

                    accountRemovalDiv.hide();
                    changeNetworkAccountDiv.hide();
                    newUserInfoDiv.hide();
                    newServiceAccountDiv.hide();
                    newUserInfoDiv.hide();
                } else {
                    accountTypeDiv.hide();
                    newUserInfoDiv.hide();
                    newServiceAccountDiv.hide();
                }

                if ($(this).val() == 'Change Existing Network Account') {
                    changeNetworkAccountDiv.show();
                    wedooOptionsDiv.show();

                    accountTypeDiv.hide();
                    newUserInfoDiv.hide();
                    newServiceAccountDiv.hide();
                    accountRemovalDiv.hide();
                    newUserInfoDiv.hide();
                }
                else {
                    changeNetworkAccountDiv.hide();
                }

                if ($(this).val() == 'Remove Existing Network Account') {
                    accountRemovalDiv.show();
                    wedooOptionsDiv.hide();

                    changeNetworkAccountDiv.hide();
                    accountTypeDiv.hide();
                    newUserInfoDiv.hide();
                    newServiceAccountDiv.hide();
                    newUserInfoDiv.hide();
                }
                else {
                    accountRemovalDiv.hide();
                    wedooOptionsDiv.show();
                }
            });

            $('.accountTypes input[type="radio"]').change(function () {
                if ($(this).val() !== 'User') {
                    newUserInfoDiv.hide();
                } else {
                    newUserInfoDiv.show();
                }

                if ($(this).val() !== 'Service Account') {
                    newServiceAccountDiv.hide();
                } else {
                    newServiceAccountDiv.show();
                }
            });

            $('.retainDataChoices input[type="radio"]').change(function () {
                if ($(this).val() === "True") {
                    networkRemovalDetailsDiv.show();
                } else {
                    networkRemovalDetailsDiv.hide();
                }
            });

            function formOnLoad() {
                var accountTypeDiv = $('.accountTypes');
                var newUserInfoDiv = $('.newUserInfo');
                var newServiceAccountDiv = $('.newServiceAccount');
                var changeNetworkAccountDiv = $('.changeNetworkAccount');
                var networkRemovalDetailsDiv = $('.networkRemovalDetails');
                var accountRemovalDiv = $('.accountRemoval');
                var wedooOptionsDiv = $('.wedooOptions');
                var wedooAddEmailDiv = $('.wedooAddEmail');
                var wedooRemoveCalendarMeetingDiv = $('.wedooRemoveCalendarMeeting');
                var wedooChangeEmailDiv = $('.wedooChangeEmail');
                var newWedooEmployeeDiv = $('.newWedooEmployee');
                var sharedMailboxSectionDiv = $('.sharedMailboxSection');
                var groupRequestsDiv = $('.groupRequests');
                var addGroupDiv = $('.addGroup');
                var changeOrRemoveGroupDiv = $('.changeOrRemoveGroup');

                groupRequestsDiv.hide();
                addGroupDiv.hide();
                changeOrRemoveGroupDiv.hide();

                changeOrRemoveGroupDiv.hide();
                newWedooEmployeeDiv.hide();
                accountTypeDiv.hide();
                newUserInfoDiv.hide();
                networkRemovalDetailsDiv.hide();
                newServiceAccountDiv.hide();
                changeNetworkAccountDiv.hide();
                accountRemovalDiv.hide();
                wedooOptionsDiv.hide();
                wedooAddEmailDiv.hide();
                wedooChangeEmailDiv.hide();
                wedooRemoveCalendarMeetingDiv.hide();
                sharedMailboxSectionDiv.hide();
            }
        </script>
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
